@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

@font-face {
    font-family: "Cardo";
    src: url("../fonts/Cardo/Cardo-Regular.ttf");
}

@font-face {
    font-family: "CardoBold";
    src: url("../fonts/Cardo/Cardo-Bold.ttf");
}

@font-face {
    font-family: "CardoItalic";
    src: url("../fonts/Cardo/Cardo-Italic.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Joan', serif;
}
.grad{
    height: 512px;
    background-color: rgba(241,241,242,255);
}
h2 {
    font-size: 3.5rem;
}
h4 {
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
}
a {
    display: block;
    font-size: 1.5rem;
    margin: 20px 0;
}
.services {
    text-align: center;
    padding: 100px;
}
.nosotros{
    text-align: center;
    
}
.title-service {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 3px dotted #ff5151;
    margin: 20px;
}
.title-nosotros{
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 3px dotted #ff5151;
    margin-top: 30px;
}
.card-big h4, a{
    color: #ff5151;
}
.img-nosotros{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 50px;
}
.img-service {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-big-nosotros{
    margin: 0 auto;
    text-align: justify;
    width: 80%;
    display: flex;
    align-items: center;
}
.card-big-nosotros .text-card-nosotros{
    /*margin-right: 10px;
    margin-left: 10px;*/
    padding: 40px;
    width: 50%;
    line-height: 35px;
}
.card-big {
    margin: 0 auto;
    box-shadow: 0 10px 15px 0px rgba(0, 0, 0, .3);
    text-align: justify;
    width: 60%;
    height: 360px;
    display: flex;
    align-items: center;

}
.card-big .text-card {
    margin-right: 10px;
    padding: 20px;
    width: 60%;
}
.card-big .card-img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}
.card-big p{
    line-height: 25px;
}

.header{
    font-family: "Cardo";
    background: white;
    
}

.desktop-header{
    display: flex;
    width: 100%;
    background: white;
    justify-content: center;
    position :fixed;
    z-index: 1;
    padding: 20px 3rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .2);
    align-items: center;
    
}
.header ul{
    display: flex;
}
.header li{
    list-style: none;
    display: flex;
    align-items: center;
}
.header a{
    color : black;
    text-decoration: none;
    font-size: 18px;
    margin : 0px;
}
.header .main-title{
    font-family: "CardoBold";
    font-size: 45px;
}

.header .socials li{
    padding : 10px;
}
.header .socials li img{
    width: 30px;
}
.header .center{
    margin-left: -30px;
}
.header .center li{
    padding :10px;
}
.header .title div{
    display : flex;
    flex-direction: column;
    align-items: center;
}

.header .title .second-title{
    font-size: 12px;
}

.header .desktop-header .rigth button{
    background: white;
    border: none;
    position: relative;
    cursor: pointer;
}
.header .desktop-header .rigth button span{
    position : absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    white-space : nowrap;
    font-size: 15px;
}
.content{
    padding-top : 150px;
}

.banner{
    position: relative;
    padding : 0px 20px;
    text-align: center;
}
.banner p{
    font-family: "CardoItalic";
    color : white;
    position : absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    white-space : nowrap;
    font-size: 45px;
}

.banner img{
    width: 100%;
}

.contact {
    margin: 2rem auto;
    text-align: center;
    max-width: 900px;
    font-family: "Cardo";
}

.contact-content{
    display: flex;
    text-align: justify;
    font-size: 21px;
    flex-wrap: wrap;
    
  
}

.contact-content .contact-space{
    width: 50%;
    padding: 2rem;
    
}
.map{
    margin-top: 1rem;
}

.footer{
    background: #eeeeee;
    padding : 3rem 1rem 1rem 1rem;
    font-family: "Cardo";
}

.footer-top{
    text-align: center;
    padding-left: 2rem;
}

.footer-socials {
    padding : 2rem 3rem 0rem 3rem;
    text-align: center;
}
.footer-socials ul{
    display: flex;
    justify-content: center;
}
.footer-socials li{
    list-style: none;
    padding : 1rem;
}
.footer-socials li img{
    width: 30px;
}
.footer-copyright{
    padding: 2rem;
    font-size: 20px;
    border-top: 1px solid #888;
}



/* Responsive */

.mobile-header {
    display: none;
    height: 74px;
    width: 100vw;
    background-color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: fixed;
    z-index: 10;
    transition: all 0.3s;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .2);
    top: 0;
    left: 0;

}
.mobile-header.nav-visible div.toggle-nav .material-icons#openNavButton {
    transform: scale(0) rotate(720deg);
}
.mobile-header.nav-visible div.toggle-nav .material-icons#closeNavButton {
    transform: scale(1) rotate(0deg);
}
.mobile-header.nav-visible .nav {
    left: 0;
}
.mobile-header.nav-visible .nav .item {
    opacity: 1;
}
.mobile-header div.toggle-nav {
    position: absolute;
    height: 74px;
    width: 74px;
    padding: 0;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0px;
}
.mobile-header div.toggle-nav .material-icons {
    color: #212121;
    font-size: 28px;
    line-height: 72px;
    cursor: pointer;
    position: absolute;
    transition: transform 0.3s;
    width: 30px;
}

.mobile-header div.toggle-nav .material-icons img{
    
}

.mobile-header div.toggle-nav .material-icons#openNavButton {
    transform: scale(1) rotate(0deg);
}
.mobile-header div.toggle-nav .material-icons#closeNavButton {
    transform: scale(0) rotate(720deg);
}
.mobile-header .nav {
    margin: 0;
    width: 100vw;
    /* max-width: 500px; */
    height: 100vh;
    position: absolute;
    top: 74px;
    left: -100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: left 0.3s;
    z-index: -1;
    background-color: #fff;
    padding: 80px 0 0 0;
    box-sizing: border-box;
}
.mobile-header .nav .item {
    position: relative;
    text-align: center;
    width: 90%;
    transition: width 0.3s, margin 0.3s;
    border-bottom: 1px solid #bdbdbd;
    opacity: 0;
    list-style-type: none;
}
.mobile-header .nav .item a {
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    line-height: 52px;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.mobile-header .nav .item a:hover, .mobile-header .nav .item a:focus {
    color: #d1d1d1;
}
.mobile-header .logo div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-header .logo .main-title{
    font-family: "CardoBold";
    font-size: 30px;
}
.mobile-header .logo .second-title{
    
    font-size: 12px;
}

.header .btn-cotiza{
    padding: 2rem 1rem;
}
.header .btn-cotiza button{
    background: white;
    border: none;
    position: relative;
    cursor: pointer;
}
.header .btn-cotiza button span{
    position : absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    white-space : nowrap;
    font-size: 16px;
}

.header .left{
    position: absolute;
    left: 3rem;
}

.header .rigth{
    position: absolute;
    right: 3rem;
}


.mobile-header .socials li{
    padding : 20px;
}

.mobile-header .socials li img{
    width: 40px;
}

@media (max-width: 900px) {
    .desktop-header{
        display: none;
    }
    .mobile-header{
        display: flex;
    }
    
}


@media (max-width: 600px) {

    .contact-content .contact-space{
        width: 100%;
    }

    .banner p{
        white-space: normal;
        font-size: 20px;
    }
}
.cards-small {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.cards-small h4, a{
    color: #ff5151;
}
.card-small {
    width: 40%;
    margin: 20px 0;
    box-shadow: 0 10px 15px 0px rgba(0, 0, 0, .3);
    position: relative;
}
.card-small .card-img, .text-card {
    padding: 20px;
}
.card-small .text-img {
    position: absolute;
    top: 20%;
    right: 35%;
}

/* media queries */
@media screen and (max-width: 1000px) {

    h2 {
        font-size: 3rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
    a {
        display: block;
        font-size: 1rem;
        margin: 10px 0;
    }
    .card-big {
        width: 80%;
      flex-direction: column;
      height: 100%;
    }
    .card-big .text-card {
        width: 80%;
    }
    .card-big .card-img {
        width: 80%;
    }
    .cards-small {
        flex-direction: column;
    }
    .cards-small .card-small {
        width: 80%;
        margin: 0 auto;
    }
  }
  @media screen and (max-width: 570px) {
    .services {
        padding: 20px;
    }
    .card-big {
        width: 100%;
    }
    .cards-small .card-small {
        width: 100%;
        margin: 0 auto;
    }
  }
